body{font-family: sans-serif;
        font-style: arial;
        font-size: 12pt;
        background-color: #55d5ff;
        margin: 11pt;}
h1{font-family: serif;
        font-style: georgia;
        color: #FFFFFF;
        background-color: #b500ff;}
h2{font-family: serif;
        font-style: georgia;
        color: #fff68d;}