body{font-family: sans-serif;
        font-style: arial;
        font-size: 12pt;
        background-color: #b500ff;
        margin: 11pt;}
h1{font-family: serif;
        font-style: georgia;
        color: #FFFFFF;
        background-color: #0062ff;}
h2{font-family: serif;
        font-style: georgia;
        color: #FFFFFF;
        background-color: #f1e665;}
h4{font-family: serif;
        font-style: georgia;
        color: #FFFFFF;
        background-color: #ff0000;}
a:link{text-decoration: none; color: #fffb00;}
a:visited{text-decoration: none; color: #EAEAEA;}
a:hover{text-decoration: underline;
        color:#ff0000}
a:active{text-decoration: none; color: #b500ff;}
hr{color: #000000;}
