body{font-family: sans-serif;
        font-style: arial;
        font-size: 12pt;
        background-color: #55d5ff;
        margin: 11pt;}
h1{font-family: serif;
        font-style: georgia;
        color: #FFFFFF;
        background-color: #b500ff;}
h2{font-family: serif;
        font-style: georgia;
        color: #FFFFFF;
        background-color: #f1e665;}
h4{font-family: serif;
        font-style: georgia;
        color: #FFFFFF;
        background-color: #ff69ba;}
nav a:link{color: #d48dff;}
nav a:visited{color: #490075}
nav a:hover{text-decoration: underline;
                color:#b338ff;}
nav a:active{color: #7300ff}